<!-- <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.punchdrink.com/wp-content/uploads/2016/11/Dantes-Negroni.jpg)">
  Cocktail's Menu!
</div> -->
<div class="banner">
  <div class="container">
    <h1>Create your own cocktail </h1>
    <%= link_to "Create a new Cocktail", new_cocktail_path, class: "btn-banner" %>
  </div>
</div>


<div class="container">
  <div class="cards my-5">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h3><%= link_to("#{cocktail.name}", cocktail_path(cocktail.id)) %></h3>
      </div>
    <% end %>
  </div>
</div>


