.edit-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  height: 100vh;

  h1 {
    color: $white;
  }

}

.edit-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.ingredients-edit {
  // padding: 10px 60px;
  margin-top: 50px;

  p {
    color: $white;
    text-align: center;
  }

  a {
    color: white;
    font-size: 14px;
  }

}

.btn-back {
  color: $white;
  border: 1px solid $white;
  border-radius: 3px;
  padding: 15px;

  &:hover {
      background-color: $white;
      color: $orange;
      border: 1px solid $white;

    }
}

@media screen and (max-width: 800px) {

  .edit-grid {
   grid-template-columns: 1fr;
  }
}

