// Specific CSS for your home-page
// body {
//   background-image: url("background.png");
//   background-size: cover;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


.container {
  margin-inline: auto;
  width: calc(min(90%, 70.5rem));
}
