.banner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("retro.png");
  background-size: cover;
  background-position: center;

  h1 {
    color: white;
    // font-weight: bold;
    font-size: 70px;
  }

  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 50px;
  }

  .btn-banner {
  padding: 15px 50px;
  background-color: #D74836;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

  .btn-banner:hover {
  background-color: white;
  color: #D74836;
  font-size: 20px;
  color: #D74836;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  }
}
