.simple_form {
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.form {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  color: $dark-blue;

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: $dark-blue;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}
