.navbar-retro_cocktails {
  justify-content: space-between;
  background: white;
  font-family: $headers-font;
  font-size: 30px;
}

.navbar-retro_cocktails .navbar-collapse {
  flex-grow: 0;
}

.navbar-retro_cocktails .navbar-brand img {
  width: 100px;
  border-radius: 50%;
}


// #navbar-text {
//   a {
//     color: red;
//   }
//   a:hover {
//   color: $orange;
// }
// }
#navbar-text {
  color: $orange;
  transition: .2s;
  display: inline-block;
  margin-right: 35px;

  &:hover {
   color: $dark-blue;
  }

}
.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;

  #navbar-text {

    &:hover {
    color: white;
    }
  }

  .navbar-toggler-icon {
    background-color: $orange;
  }

  .navbar-toggler {
    background-color: $orange;
  }
}
